In [10]:
!pip3 install matplotlib
!pip3 install numpy
!pip3 install seaborn
!pip3 install squarify
!pip3 install pandas

Requirement already satisfied: matplotlib in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib) (2.1.2)
Requirement already satisfied: packaging>=20.0 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: numpy in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (2.1.2)
Requirement already satisfied: seaborn in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from seaborn) (2.1.2)
Requirement already satisfied: pandas>=1.2 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Requirement already satisfied: squarify in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (0.4.3)
Requirement already satisfied: pandas in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/owner/opt/anaconda3/envs/fbnames/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [11]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('data/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

data/billionaires.csv
data/billionaires.xlsx

In [12]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
import seaborn as sns
import squarify
import warnings
import re
warnings.filterwarnings("ignore")

In [13]:
data = pd.read_csv("data/billionaires.csv")
data.head()

,name,rank,year,company.founded,company.name,company.relationship,company.sector,company.type,demographics.age,demographics.gender,...,location.gdp,location.region,wealth.type,wealth.worth in billions,wealth.how.category,wealth.how.from emerging,wealth.how.industry,wealth.how.inherited,wealth.how.was founder,wealth.how.was political
0,Bill Gates,1,2014,1975,Microsoft,founder,Software,new,58,male,...,0.0,North America,founder non-finance,76.0,New Sectors,True,Technology-Computer,not inherited,True,True
1,Carlos Slim Helu,2,2014,1990,Telmex,founder,Communications,privatization,74,male,...,0.0,Latin America,privatized and resources,72.0,Non-Traded Sectors,True,Media,not inherited,True,True
2,Amancio Ortega,3,2014,1975,Zara,founder,Fashion,new,77,male,...,0.0,Europe,founder non-finance,64.0,Non-Traded Sectors,True,"Retail, Restaurant",not inherited,True,True
3,Warren Buffett,4,2014,1839,Berkshire Hathaway,founder,Finance,aquired,83,male,...,0.0,North America,founder non-finance,58.2,Traded Sectors,True,Consumer,not inherited,True,True
4,Larry Ellison,5,2014,1977,Oracle,founder,software,new,69,male,...,0.0,North America,founder non-finance,48.0,New Sectors,True,Technology-Computer,not inherited,True,True

In [14]:
data.describe()

,rank,year,company.founded,demographics.age,location.gdp,wealth.worth in billions
count,2614.000000,2614.000000,2614.000000,2614.000000,2.614000e+03,2614.000000
mean,599.672533,2008.411630,1924.711936,53.341239,1.769103e+12,3.531943
std,467.885695,7.483598,243.776546,25.333320,3.547083e+12,5.088813
min,1.000000,1996.000000,0.000000,-42.000000,0.000000e+00,1.000000
25%,215.000000,2001.000000,1936.000000,47.000000,0.000000e+00,1.400000
50%,430.000000,2014.000000,1963.000000,59.000000,0.000000e+00,2.000000
75%,988.000000,2014.000000,1985.000000,70.000000,7.250000e+11,3.500000
max,1565.000000,2014.000000,2012.000000,98.000000,1.060000e+13,76.000000

In [15]:
print(data.shape)
data.dtypes

(2614, 22)

name                         object
rank                          int64
year                          int64
company.founded               int64
company.name                 object
company.relationship         object
company.sector               object
company.type                 object
demographics.age              int64
demographics.gender          object
location.citizenship         object
location.country code        object
location.gdp                float64
location.region              object
wealth.type                  object
wealth.worth in billions    float64
wealth.how.category          object
wealth.how.from emerging       bool
wealth.how.industry          object
wealth.how.inherited         object
wealth.how.was founder         bool
wealth.how.was political       bool
dtype: object

In [16]:

data["TotalNetWorth"] = [re.sub(r'[^0-9]', ' ', s) for s in data["NetWorth"]]
data["TotalNetWorth"] = [a.replace(" ",".")[1:-2] for a in data["TotalNetWorth"]]
data["TotalNetWorth"] = data["TotalNetWorth"].astype("float64")

KeyError: 'NetWorth'

In [ ]:
data

In [ ]:
source=data.groupby("Source")["Name"].count().sort_values(ascending=False)
plt.figure(figsize=(16,8), dpi=80)
sns.set_style("whitegrid")
chart = sns.countplot(data=data, y="Source", order=source.index)
for index, value in enumerate(source.values.tolist()):
    plt.text(value, index, str(value))
plt.title("Source with most number of billionaires")
plt.show()

In [ ]:
country = data.groupby("Country").Country.count().sort_values(ascending=False)
plt.figure(figsize=(20,10), dpi=80)
sns.set_style("whitegrid")
chart = sns.countplot(data=data, x="Country", order=country.index)
for index, value in enumerate(country.values.tolist()):
    plt.text(index, value, str(value), horizontalalignment="center", rotation=45)
plt.title("Country wise Billioaires")
plt.ylabel("Count of Billioaires")
plt.xticks(rotation=90)
plt.show()

In [ ]:
x_var = "TotalNetWorth"
groupby_var = "Source"
df_agg = data.loc[:,[x_var, groupby_var]].groupby(groupby_var)
vals = [data_[x_var].values.tolist() for i, data_ in df_agg]

plt.figure(figsize=(20,8), dpi=80)
colors = [plt.cm.Pastel1(i/float(len(vals)-1)) for i in range(len(vals))]
n, bins, patches = plt.hist(vals, 30, stacked=True, density=False, color=colors[:len(vals)])

plt.legend({group:col for group, col in zip(np.unique(data[groupby_var]).tolist(), colors[:len(vals)])})
plt.title("Stacked Histogram of {} colored by {}".format(x_var, groupby_var), fontsize=22)
plt.xlabel(x_var)
plt.ylabel("Frequency")
plt.xticks(ticks=bins[::3], labels=[round(b,1) for b in bins[::3]])
plt.show()

In [ ]:
x_var = "Country"
groupby_var = "Source"
df_agg = data.loc[:,[x_var, groupby_var]].groupby(groupby_var)
vals = [data_[x_var].values.tolist() for i, data_ in df_agg]

plt.figure(figsize=(20,8), dpi=80)
colors = [plt.cm.Pastel1(i/float(len(vals)-1)) for i in range(len(vals))]
n, bins, patches = plt.hist(vals, data[x_var].unique().__len__(), stacked=True, density=False, color=colors[:len(vals)])

plt.legend({group:col for group, col in zip(np.unique(data[groupby_var]).tolist(), colors[:len(vals)])})
plt.title("Stacked Histogram of {} colored by {}".format(x_var, groupby_var), fontsize=22)
plt.xlabel(x_var)
plt.ylabel("Frequency")
plt.xticks(rotation='vertical', horizontalalignment='left')
plt.show()

In [ ]:
plt.figure(figsize=(20,8), dpi=80)
sns.boxplot(data=data, x="Country", y="TotalNetWorth", hue="Source", palette="Pastel1")
sns.stripplot(data=data, x="Country", y="TotalNetWorth", color="black", size=3, jitter=1)

plt.title("Box plot of billionaires's Country by Source", fontsize=22)
plt.legend(title="Source")
plt.xticks(rotation="vertical")
plt.show()

In [ ]:
df = data.groupby("Source")["TotalNetWorth"].sum().reset_index(name='counts')

fig, ax = plt.subplots(figsize=(20,10), subplot_kw=dict(aspect="equal"), dpi=80)

counts = df["counts"]
categories = df["Source"]

def text(pct, allvals):
    absolute = int(pct/100. * np.sum(allvals))
    return "{:.1f}% ({:d})".format(pct, absolute)

wedges, texts, autotexts = ax.pie(counts,
                                  autopct=lambda pct: text(pct, counts),
                                  textprops=dict(color="black"),
                                  startangle=140
                                 )

ax.legend(wedges, categories, title="Country", loc="center left", bbox_to_anchor=(1,0,0.5,1))
ax.set_title("Billionaries money as per their Industry: Pie Chart")
plt.show()

In [ ]:
df = data.groupby("Country")["TotalNetWorth"].sum().reset_index(name="sum_by_source")
labels = df.apply(lambda x : str(x[0]) + "\n(" + str(x[1]) + ")", axis=1)
sizes = df['sum_by_source'].values.tolist()
colors = [plt.cm.Pastel1(i/float(len(labels))) for i in range(len(labels))]

plt.figure(figsize=(25,12), dpi=80)
squarify.plot(sizes=sizes, label=labels, color=colors, alpha=.8, text_kwargs={'fontsize':10}, pad=0.01)


plt.title("Treemap of Country with Billionaires wealth")
plt.axis('off')
plt.show()

In [ ]:
plt.figure(figsize=(20, 10), dpi=80)
sns.swarmplot(x=data["Source"], y=data["TotalNetWorth"])

plt.title("Swarm plot for Total Networth and Source")
plt.xticks(rotation="vertical")
plt.show()

In [ ]:
plt.figure(figsize=(30, 10), dpi=80)
length = data["Country"].nunique()

sns.swarmplot(x=data["Country"], y=data["TotalNetWorth"])

plt.title("Swarm plot for Total Networth and Country")
plt.xticks(rotation="vertical")
plt.show()

In [ ]:
plt.figure(figsize=(20, 8), dpi=80)
colors = [k for k,v in matplotlib.colors.cnames.items()][30:46]

industries = data.Source.unique().tolist()
for source, color in zip(industries, colors):
    sns.kdeplot(data.loc[data.Source == source, "TotalNetWorth"], label=source, shade=True, alpha=0.7, color=color)

plt.xlabel("wealth(in billions)")
plt.title('Distribution of wealth among Industries', fontsize=22)
plt.legend(labels=source)
plt.show()